# Virtual Environments
.venv/
.venv312/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
*.db

# macOS System Files
.DS_Store

# IDE Configurations
.vscode/
.idea/
